#moonb{
	background-color: grey;
}

.titles{
	color: rgba(0, 100, 255, 1);
	background-color: sandybrown;
}

#divs{
	background: url(https://i.pinimg.com/originals/3f/08/62/3f0862b441f3ef8eea7a272379e0121b.jpg);
}
