* {
    text-align: justify;
}

#p {
    background-color: pink;
    display: inline;
    /*inline*/
}

p {
    background-color: pink;
    /*block*/
}

#cont {
    background-color: pink;
    display: inline-block;
    width: 1000px;
    /*inline-block*/
}