* {
    padding: 0px;
    margin: 0px;
}

header {
    background: #BBBBBB;
}

nav li {
    display: inline;
    margin: 0 0 0 5px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}