body {
    padding: 0;
    margin: 0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: rgb(212, 212, 212);
    border: 10px solid darkslateblue;
    padding: 10px;
    box-sizing: border-box;
}

.square2 {
    width: 100px;
    height: 100px;
    background-color: rgb(209, 209, 209);
}


/*
.container {
    background-color: darkblue;
    padding: 5px;
    border: 5px darkcyan solid;
    margin: 10px;
}

.content {
    background-color: rgb(219, 219, 219);
    border: 5px solid rgb(0, 119, 255);
    padding: 5px;
}
*/